let mapleader=" "
" pending update https://github.com/TheBlob42/idea-which-key/issues/113
" set which-key

set incsearch
set hlsearch
set ignorecase
set smartcase

" Plug 'vim-scripts/argtextobj.vim'
set anyobject

Plug 'bkad/CamelCaseMotion'
map <silent> w <Plug>CamelCaseMotion_w
map <silent> b <Plug>CamelCaseMotion_b
map <silent> e <Plug>CamelCaseMotion_e
map <silent> ge <Plug>CamelCaseMotion_ge

Plug 'machakann/vim-highlightedyank'

set sneak

" match doom emacs
nnoremap <leader>wh <C-w>h
nnoremap <leader>wj <C-w>j
nnoremap <leader>wk <C-w>k
nnoremap <leader>wl <C-w>l
nnoremap <leader>ww <C-w>w
nnoremap <leader>wv <C-w>v
nnoremap <leader>ws <C-w>s
nnoremap <leader>wq <C-w>c
nnoremap <leader>wm <C-w>x
map [e <Action>(GotoPreviousError)
map ]e <Action>(GotoNextError)
map gw <Action>(AceWordAction)
map <leader><leader> <Action>(GotoFile)
