set VimEverywhere

Plug 'vim-scripts/argtextobj.vim'

Plug 'bkad/CamelCaseMotion'
map <silent> w <Plug>CamelCaseMotion_w
map <silent> b <Plug>CamelCaseMotion_b
map <silent> e <Plug>CamelCaseMotion_e
map <silent> ge <Plug>CamelCaseMotion_ge

Plug 'machakann/vim-highlightedyank'

Plug 'justinmk/vim-sneak'
